.main-content {
  .main-header {
    background: black;
    .detail {
      text-align: center;
      label {
        font-weight: bold;
        color: white;
        margin: 0px;
        padding: 2px;
      }
    }
  }
  .sub-main-header {
    .f-b {
      font-weight: bold;
      margin-top: 6px;
    }
  }
  .desc-content {
    background: #B5C2E1;
    padding: 15px;
    .address-table {
      border: 2px solid black;
      .table-header {
        background: black;
        color: white;
        div {
          padding: 6px;
          text-align: center;
        }
      }
      .table-message {
        text-align: center;
        padding: 6px;
        background: white;
        .f-b {
          font-weight: bold;
        }
      }
      .address-rec {
        div {
          text-align: center;
          padding: 6px;
        }
      }
      .address-rec:nth-of-type(odd) {
        background: #B5C2E1;
      }
      .address-rec:nth-of-type(even) {
        background: white;
      }
    }
    .links {
      height: 30px;
      vertical-align: sub;
      padding-top: 10px;
      .add-link {
        font-weight: bold;
      }
    }
  }
  .buttons {
    .submit-btn {
      border-radius: 25px;
      background: #7FC2BE;
      color: black;
      font-weight: bold;
      width: 225px;
    }
  }
}
.text3 {
  color: #F33023;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.currency-table-fieldset .table-striped tbody tr:nth-of-type(odd) {
  background-color: white!important;
}
.currency-table-fieldset {
  border:1px solid #cccc;
  border-radius: 10px;
  width: 50% !important;
  margin: auto;
}
.currency-table td {
  border: none!important;
}
.currency-table th {
  border: none!important;
}