th:first-child, td:first-child
{
  position:sticky;
  left:0;
  background-color:#cbcbcb;
}
th, td {
  padding: 5px !important;
  input {
    text-align: right;
    min-width: 60px;
  }
}
.is-readonly {
  pointer-events: none;
}