.body-text {
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    margin-bottom: 2pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    text-align: left
    }
.bullet {
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 9pt;
    margin-left: -0.25in;
    margin-right: 0;
    margin-top: 9pt;
    text-align: left;
    x-next-class: Bullet;
    x-next-type: P
    }
.calibre {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    color: #800000;
    display: block;
    font-family: Verdana;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    text-align: left
    }
.calibre2 {
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 0.70588em;
    font-weight: bold;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9pt;
    text-align: left;
    x-next-class: Text;
    x-next-type: P
    }
.calibre3 {
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 18pt;
    page-break-before: always;
    text-align: left;
    x-next-class: Text;
    x-next-type: P
    }
.calibre4 {
    margin-left: 1.7pt
    }
.calibre5 {
    margin-left: 0
    }
.calibre6 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre7 {
    font-weight: bold
    }
.calibre8 {
    color: #800000;
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 7pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9pt;
    page-break-before: always;
    text-align: left;
    x-next-class: Text;
    x-next-type: P
    }
.calibre9 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre10 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-left: 1.8pt;
    margin-top: 0;
    text-indent: 0;
    width: 390px
    }
.calibre11 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre12 {
    display: table-row;
    vertical-align: inherit;
    x-cell-content-align: top
    }
.calibre13 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 80px
    }
.calibre14 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 207px
    }
.calibre15 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 102px
    }
.calibre16 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 80px
    }
.calibre17 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 207px
    }
.calibre18 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 102px
    }
.calibre19 {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre20 {
    display: block
    }
.calibre21 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 500px
    }
.calibre22 {
    display: table-column-group
    }
.calibre23 {
    display: table-column;
    width: 35px
    }
.calibre24 {
    display: table-column;
    width: 465px
    }
.calibre25 {
    background-color: #C0C0C0;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 35px
    }
.calibre26 {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    height: 24px;
    width: 30px
    }
.calibre27 {
    background-color: #C0C0C0;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 465px
    }
.calibre28 {
    display: table-column
    }
.calibre29 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre30 {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    height: 10px;
    width: 11px
    }
.calibre31 {
    font-weight: normal
    }
.calibre32 {
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.calibre33 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre34 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-left: 14.4pt;
    margin-top: 0;
    text-indent: 0;
    width: 156px
    }
.calibre35 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 156px
    }
.calibre36 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-left: 14.4pt;
    margin-top: 0;
    text-indent: 0;
    width: 429px
    }
.calibre37 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 136px
    }
.calibre38 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 500px;
    x-cell-content-align: top
    }
.calibre39 {
    display: table-column;
    width: 70%
    }
.calibre40 {
    display: table-column;
    width: 30%
    }
.calibre41 {
    background-color: #C0C0C0;
    border-bottom-style: None;
    border-left-style: None;
    border-right-style: None;
    border-top-style: None;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 70%
    }
.calibre42 {
    background-color: #C0C0C0;
    border-bottom-style: None;
    border-right-style: None;
    border-top-style: None;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 30%
    }
.calibre43 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    float: none;
    height: 53px;
    width: 97px
    }
.calibre44 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 500px;
    x-cell-content-align: Top
    }
.calibre45 {
    display: table-column;
    width: 110px
    }
.calibre46 {
    display: table-column;
    width: 15px
    }
.calibre47 {
    display: table-column;
    width: 140px
    }
.calibre48 {
    display: table-column;
    width: 95px
    }
.calibre49 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 110px
    }
.calibre50 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 15px
    }
.calibre51 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 140px
    }
.calibre52 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 95px
    }
.calibre53 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 110px
    }
.calibre54 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 15px
    }
.calibre55 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 140px
    }
.calibre56 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 95px
    }
.calibre57 {
    background-color: #C0C0C0;
    border-bottom-color: #c0c0c0;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-left-color: #c0c0c0;
    border-left-style: Solid;
    border-left-width: 1px;
    border-right-color: #c0c0c0;
    border-right-style: Solid;
    border-right-width: 1px;
    border-spacing: 0;
    border-top-color: #c0c0c0;
    border-top-style: Solid;
    border-top-width: 1px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 500px;
    x-cell-content-align: top
    }
.calibre58 {
    display: table-column;
    width: 350px
    }
.calibre59 {
    display: table-column;
    width: 150px
    }
.calibre60 {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 350px
    }
.calibre61 {
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 150px
    }
.calibre62 {
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right
    }
.calibre63 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    float: none;
    height: 59px;
    width: 117px
    }
.calibre64 {
    display: table-column;
    width: 130px
    }
.calibre65 {
    display: table-column;
    width: 25px
    }
.calibre66 {
    display: table-column;
    width: 345px
    }
.calibre67 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    border-top-color: #000;
    border-top-style: Solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 130px
    }
.calibre68 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    border-top-color: #000;
    border-top-style: Solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 25px
    }
.calibre69 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    border-top-color: #000;
    border-top-style: Solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 345px
    }
.calibre70 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 130px
    }
.calibre71 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 25px
    }
.calibre72 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 345px
    }
.calibre73 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 90%
    }
.calibre74 {
    display: table-column;
    width: 20%
    }
.calibre75 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 138px
    }
.calibre76 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 20%
    }
.calibre77 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 186px
    }
.calibre78 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 198px
    }
.calibre79 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 138px
    }
.calibre80 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 20%
    }
.calibre81 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 186px
    }
.calibre82 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 198px
    }
.calibre83 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre84 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre85 {
    display: table-row;
    height: 23px;
    vertical-align: inherit;
    x-cell-content-align: top
    }
.calibre86 {
    display: table-row;
    height: 78px;
    vertical-align: inherit;
    x-cell-content-align: top
    }
.calibre87 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-left: 14.4pt;
    margin-top: 0;
    text-indent: 0;
    width: 387px
    }
.calibre88 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 142px
    }
.calibre89 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 122px
    }
.calibre90 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-left: 14.4pt;
    margin-top: 0;
    text-indent: 0;
    width: 412px
    }
.calibre91 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 126px
    }
.calibre92 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 106px
    }
.calibre93 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 96px
    }
.calibre94 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 84px
    }
.calibre95 {
    text-decoration: underline;
    x-text-underline: normal
    }
.calibre96 {
    color: #008000
    }
.calibre97 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 500px;
    x-cell-content-align: Center
    }
.calibre98 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-left: 14.4pt;
    margin-top: 0;
    text-indent: 0;
    width: 430px
    }
.calibre99 {
    display: table-column;
    width: 32.716%
    }
.calibre100 {
    display: table-column;
    width: 35.711%
    }
.calibre101 {
    display: table-column;
    width: 136px
    }
.calibre102 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 32.716%
    }
.calibre103 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 35.711%
    }
.calibre104 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-left: 14.4pt;
    margin-top: 0;
    text-indent: 0;
    width: 436px
    }
.calibre105 {
    display: table-column;
    width: 32.238%
    }
.calibre106 {
    display: table-column;
    width: 34.995%
    }
.calibre107 {
    display: table-column;
    width: 32.767%
    }
.calibre108 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 32.238%
    }
.calibre109 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 34.995%
    }
.calibre110 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 32.767%
    }
.calibre111 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-left: 14.4pt;
    margin-top: 0;
    text-indent: 0;
    width: 435px
    }
.calibre112 {
    display: table-column;
    width: 35.31%
    }
.calibre113 {
    display: table-column;
    width: 31.954%
    }
.calibre114 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 35.31%
    }
.calibre115 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 31.954%
    }
.calibre116 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-left: 14.4pt;
    margin-top: 0;
    text-indent: 0;
    width: 443px
    }
.calibre117 {
    display: table-column;
    width: 32.623%
    }
.calibre118 {
    display: table-column;
    width: 34.452%
    }
.calibre119 {
    display: table-column;
    width: 32.957%
    }
.calibre120 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 32.623%
    }
.calibre121 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 34.452%
    }
.calibre122 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 32.957%
    }
.calibre123 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-left: 14.4pt;
    margin-top: 0;
    text-indent: 0;
    width: 450px
    }
.calibre124 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 150px
    }
.calibre125 {
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    margin-bottom: 0;
    margin-left: 14.4pt;
    margin-top: 0;
    text-indent: 0;
    width: 447px
    }
.calibre126 {
    display: table-column;
    width: 32.963%
    }
.calibre127 {
    display: table-column;
    width: 33.928%
    }
.calibre128 {
    display: table-column;
    width: 33.11%
    }
.calibre129 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 32.963%
    }
.calibre130 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 33.928%
    }
.calibre131 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 33.11%
    }
.calibre132 {
    display: table-column;
    width: 185px
    }
.calibre133 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: bottom;
    width: 130px;
    x-cell-content-align: bottom
    }
.calibre134 {
    background-color: #C0C0C0;
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: bottom;
    width: 185px;
    x-cell-content-align: bottom
    }
.calibre135 {
    border-bottom-color: #000;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 185px
    }
.f1-header {
    display: block;
    font-family: Verdana;
    font-size: 0.79412em;
    line-height: 1.2;
    margin-bottom: 2pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    text-align: left
    }
.f1-link {
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    margin-bottom: 2pt;
    margin-left: 10.8pt;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -10.8pt
    }
.f1-link1 {
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    font-weight: bold;
    margin-bottom: 2pt;
    margin-left: 10.8pt;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -10.8pt
    }
.f1-logo-topic {
    display: block;
    font-family: Verdana;
    font-size: 0.52941em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.f1-logo-topic1 {
    display: block;
    font-family: Verdana;
    font-size: 0.52941em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.heading {
    color: #800000;
    display: block;
    font-family: Verdana;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.heading1 {
    color: #800000;
    display: block;
    font-family: Verdana;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.kadov-p-cbullet {
    display: list-item;
    font-family: Verdana, sans-serif;
    font-size: 0.70588em;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc
    }
.kadov-p-cnumbered-list {
    display: list-item;
    font-family: Verdana;
    font-size: 0.70588em;
    margin-left: -15px;
    text-align: left;
    text-indent: -14.4pt
    }
.kadov-p-cstep {
    display: list-item;
    font-family: Verdana, sans-serif;
    font-size: 0.70588em;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: decimal
    }
.kadov-p-cstepbullet {
    display: list-item;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc
    }
.map-head {
    display: block;
    font-family: Verdana;
    font-size: 0.79412em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4pt;
    margin-left: 18pt;
    margin-right: 0;
    margin-top: 8pt;
    text-align: left
    }
.map-text {
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    margin-bottom: 0;
    margin-left: 18pt;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.numbered-list {
    display: block;
    font-family: Verdana;
    font-size: 1em;
    margin-bottom: 4pt;
    margin-left: 14.4pt;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -14.4pt
    }
.rtt {
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    margin-bottom: 4.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4.5pt;
    text-align: Right
    }
.step {
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 9pt;
    margin-left: -12pt;
    margin-right: 0;
    margin-top: 9pt;
    text-align: left;
    x-next-class: Step;
    x-next-type: P
    }
.stepbullet {
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 9pt;
    margin-left: 4pt;
    margin-right: 0;
    margin-top: 9pt;
    text-align: left;
    x-next-class: StepBullet;
    x-next-type: P
    }
.tableboldtext {
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-align: left
    }
.tableboldtext1 {
    background-color: Transparent;
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-align: left
    }
.tablebullet {
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 2.5pt;
    margin-right: 0;
    margin-top: 2.5pt;
    text-align: left;
    x-next-class: TableBullet;
    x-next-type: P
    }
.tableheading {
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 4.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4.5pt;
    text-align: left
    }
.tabletext {
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-align: left;
    x-next-class: TableText;
    x-next-type: P
    }
.tbl-header-nonscroll {
    color: #000;
    display: block;
    font-family: Verdana;
    font-size: 0.70588em;
    font-weight: bold;
    margin-bottom: 2pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-align: left
    }
.text {
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 0.70588em;
    margin-bottom: 4.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4.5pt;
    text-align: left;
    x-next-class: Text;
    x-next-type: P
    }
