@import "../../../../styles";

.dmnd-background {
  background-color: $color-background;
}

.border-bottom {
  border-bottom: 1px solid lightgray;
}


select, input {
  border-radius: 0 !important;
}


.close-button {
  fa-icon {
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-right: 4px;
    font-size: 21px;
    color: red;
  }
}

.chbx-center {
  margin: auto;
  display: block;
  margin-top: 5px;
}
.fa-icon-disabled {
  color: darkgrey!important;
}
.button-disabled {
  background-color: darkgrey!important;
}
