::ng-deep button.dropdown-toggle:disabled {
    background: #bfc7ce87 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

::ng-deep .divDeepDisabled {
    cursor: not-allowed !important;
    pointer-events: none !important;
}