label {
  font-weight: bold;
  vertical-align: sub;
}
.main {
  background: #B5C2E1;
  .content1 {
    border: 1px solid black;
    .header {
      background: black;
      color: white;
      text-align: center;
      padding: 6px;
      font-weight: bold;
    }
    .description {
      .text {
        text-align: center;
        padding: 12px;
        font-weight: bold;
      }
      .radio-ops {
        text-align: center;
      }
      .address-content {
        border: 1px solid black;
        padding: 15px;
      }
    }
  }
}
.text1 {
  text-align: center;
  color: #EB4944;
  font-weight: bold;
  font-size: 24px;
}
.submit-btn {
  border-radius: 25px;
  background: #7FC2BE;
  color: black;
  font-weight: bold;
  width: 130px;
}
.sec-content {
  background: #B5C2E1;
  .text2 {
    text-align: center;
    color: #F32020;
    font-weight: bold;
    font-size: 24px;
  }
}
.text3 {
  color: #F33023;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}