<div class="container-fluid">
    <div class="card-block">
        <h2 class="form-title card-label-admin">Error</h2>
        <button (click)="hideModal()" aria-label="Close" class="modal-close close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
            <span>
                30143: Phone/Fax Number must be 0, 7, or 10 digits.
            </span>
        </div>
        <div class="modal-footer">
            <button (click)="hideModal()" class="button" type="button" data-dismiss="modal"> OK </button>
        </div>
    </div>
</div>