.family-blank-space {
  width: 100%;
  margin-top: 6px;
}
.case-mgmt-blank-space {
  width: 100%;
  margin-top: 10px;
}
.is-readonly {
  pointer-events: none;
}
.readonly-white {
  background-color: #ffffff !important;
  opacity: 1;
}

.margin-top-24 {
  margin-top: -24px;
}

.margin-top-10 {
  margin-top: 10px;
}

.label-color {
  color: #0000ff;
}


.date-margin-bottom {
  margin-bottom: 10px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.pt-20 {
  padding-top: 20px;
}

.empty-label-field-margin {
  margin-top: 2.4rem;
}
