.label-broken {
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #0d20cf;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.label-broken span {
  background:#fff; padding:0 10px;
}
.f-b {
  font-weight: bold;
}
.ok-btn {
  right: 0;
  margin-right: 0;
  text-align: right;
  float: right;
  margin-bottom: 8px;
}
