.group {
  max-width: 8rem;
}

.selected-group {
  background-color: darkblue;
  color: white;
}
::ng-deep {
  .form-title {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  .close {
    top: 15px;
    right: 15px;
    position: absolute;
  }

}
