<div class="container-fluid">
    <div class="card-block">
        <div class="row form-title">
            <h2 class="col-md-6 card-label-admin">View DRG Pricer Fields</h2>
        </div>
        <button (click)="modalClose()" *ngIf="showIcon" aria-label="Close"
                class="modal-close close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>


        <div class="form-group row">
           <div class="col-md-6">
                <label class="col-form-label"  i18n>Base Reimbursement Amount: </label>
                <input readonly class="form-control"  id="claimNumber" type="text"/>
            </div>       
        <div class="col-md-6">
            <label class="col-form-label"  i18n>Short LOS Outlier Trim: </label>
            <input readonly class="form-control"  id="claimNumber" type="text"/>
        </div> 

        </div>
        <!-- row2  -->
        <div class="form-group row">
            <div class="col-md-6">
                 <label class="col-form-label"  i18n>Outlier Payments: </label>
                 <input readonly class="form-control"  id="claimNumber" type="text"/>
             </div>       
         <div class="col-md-6">
             <label class="col-form-label"  i18n>Long LOS Outlier Trim: </label>
             <input readonly class="form-control"  id="claimNumber" type="text"/>
         </div> 
 
         </div>

         <!-- row 3 -->

         <div class="form-group row">
            <div class="col-md-6">
                 <label class="col-form-label"  i18n>Alternate Level Care Days Payments: </label>
                 <input readonly class="form-control"  id="claimNumber" type="text"/>
             </div>       
         <div class="col-md-6">
             <label class="col-form-label"  i18n>Additional Mean LOS: </label>
             <input readonly class="form-control"  id="claimNumber" type="text"/>
         </div> 
 
         </div>

         <!-- row4 -->

         <div class="form-group row">
            <div class="col-md-6">
                 <label class="col-form-label"  i18n>Total Reimbursement: </label>
                 <input readonly class="form-control"  id="claimNumber" type="text"/>
             </div>       
         <div class="col-md-6">
             <label class="col-form-label"  i18n>DRG Weight: </label>
             <input readonly class="form-control"  id="claimNumber" type="text"/>
         </div> 
 
         </div>

         <!-- row 5 -->

         <div class="form-group row">
            <div class="col-md-6">
                 <label class="col-form-label"  i18n>Outlier Type: </label>
                 <input readonly class="form-control"  id="claimNumber" type="text"/>
             </div>       
         <div class="col-md-6">
             <label class="col-form-label"  i18n>Cost Reduction Factor: </label>
             <input readonly class="form-control"  id="claimNumber" type="text"/>
         </div> 
 
         </div>
         <!-- row 6 -->

         <div class="form-group row">
            <div class="col-md-6">
                 <label class="col-form-label"  i18n>Average Length of Stay: </label>
                 <input readonly class="form-control"  id="claimNumber" type="text"/>
             </div>       
         <div class="col-md-6">
             <label class="col-form-label"  i18n>Low Per Diem: </label>
             <input readonly class="form-control"  id="claimNumber" type="text"/>
         </div> 
 
         </div>

         <!-- row 7 -->

         <div class="form-group row">
            <div class="col-md-6">
                 <label class="col-form-label"  i18n>Trauma Indicator: </label>
                 <input readonly class="form-control"  id="claimNumber" type="text"/>
             </div>       
         <div class="col-md-6">
             <label class="col-form-label"  i18n>Transfer Indicator: </label>
             <input readonly class="form-control"  id="claimNumber" type="text"/>
         </div> 
 
         </div>
         <!-- row 8 -->

         <div class="form-group row">
            <div class="col-md-6">
                 <label class="col-form-label"  i18n>Congenital Malformation Indicator: </label>
                 <input readonly class="form-control"  id="claimNumber" type="text"/>
             </div>       
         <div class="col-md-6">
             <label class="col-form-label"  i18n>Payment Method Indicator: </label>
             <input readonly class="form-control"  id="claimNumber" type="text"/>
         </div> 
 
         </div>
        
    </div>
</div>